<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
</head>

<link rel="stylesheet" href="style.css">
<script src="index.js"></script>

<body>

    <!-- A welcome message and let the user choose to go to the senior request or refund request -->
    <h1>Requests</h1>
    <p>What kind of request do you want to make?</p>
    <a href="senior/index.html">Senior Request</a>
    <a href="refund/index.html">Refund Request</a>

</body>

</html>