body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid green;
    background-color: beige;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    background-color: green;
    color: white;
}

th {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid white;
}

td {
    background-color: white;
    padding: 10px;
    border: 1px solid green;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}